*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top:-500px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 400px;}
    100%{left: -50px;}
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 200px;
}
#coin{
    width: 50px;
    height: 50px;
    background-color: gold;
    position: relative;
    top: -500px;
    left: 0px;
    border-radius: 50%;
    animation: block 2s infinite linear;
    animation-delay: -1s;
}